:root {
    --bg-main-custom: #0e1013;
    --bg-header-custom: #111215;
    --color-custom: #4ac8f5;
    --color-main: #fff;
    --secondary-p-custom: #0a0a0a;
    --btns-color-custom: #244774;
    --btns-color-custom-hover: #36577d;
    --btn-color-cv: #447b91;
    --btn-color-github: #2d2d2d;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg-main-custom);
}

.header-container {
    background-color: var(--bg-header-custom);
}

.rounded-circle-custom {
    border-radius: 50%;
    border: solid 2px var(--color-custom);
}

.span_logo {
    color: var(--color-custom);
}

.btns_style {
    border-color: var(--btns-color-custom);
    color: var(--color-main);
}

.btns_style:hover:nth-child(1) {
    background-color: var(--btn-color-cv);
    border-color: var(--btn-color-cv);
}
.btns_style:hover:nth-child(2) {
    background-color: var(--btn-color-github);
    border-color: var(--btn-color-github);
}

.btns_style:hover {
    background-color: var(--btns-color-custom-hover);
    border-color: var(--btns-color-custom-hover);
    color: var(--color-main);
}

.navigation_floating {
    font-size: 1.1em;
    top: 100px;
    background-color: #39393953;
    padding: 2dvh;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

.navigation_floating li,
a {
    font-size: 0.9em;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.photo_main {
    position: absolute;
    display: flex;
    width: 340px;
    height: 340px;
}

.photo_main img {
    width: 100%;
}

.fill_white {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.skills {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid 2px var(--btns-color-custom-hover);
    /* animation: rotate-rounded 10s linear infinite; */
}

.skills .icons {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .icons .img_box {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: rotate(calc(360deg/13 * var(--i)));
    transform-origin: 275px;
    z-index: 110;
}

.skills .icons .img_box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transform: rotate(calc(-360deg/13 * var(--i)));
    animation: imga 10s linear infinite;
}

@keyframes rotate-rounded {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card_skills {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    height: 30dvh;
    justify-content: center;
    background-color: #2d2b2b;
    color: var(--color-main);
    border-radius: 4px;
}

.card_skills div {
    width: 100%;
    height: 100%;
}

.card_skills img{
    padding: 10px 0 10px 0;
    width: 50px;
}

.detail_text {
    display: inline-block;
    border-left: solid 1px var(--color-custom);
    padding-left: 7px;
    transition: 0.2s;
    cursor: default;
}

.detail_text:hover {
    border-left: solid 5px var(--color-custom);
}